<%- include("../partials/header") %>

<h1 >Appointment Details
     <img src="https://static.vecteezy.com/system/resources/previews/004/698/190/original/calendar-business-date-time-icon-symbol-hand-drawn-cartoon-art-illustration-vector.jpg"></h1> 
<br/><br/>
<section id="add-medicine-form"> 
    <div><strong>Institution</strong>: <%= appointment.institution %></div>
    <br/>
    <div><strong>Speciality</strong>: <%= appointment.speciality %></div>
    <br/>
    <div><strong>Date</strong>: <%= appointment.date.toDateString() %></div>
    <br/>
    <div><strong>Time Slot</strong>: <%=appointment.timeslot  %></div>
    <br/>
    
    <h3>Delete Appointment? (Cannot be undone)</h3>
    <form method="POST" action="/appointments/<%= appointment._id %>?_method=DELETE" id="form">
        <input type="submit" value="Delete">
    </form>
    <button><a href="/appointments/<%=appointment._id%>" style="text-decoration:none">Cancel</a></button>
</section>

<%- include("../partials/footer") %>