<%- include("../partials/header") %>

<h1>Edit Appointment 
  <img id="img" src="https://static.vecteezy.com/system/resources/previews/004/698/190/original/calendar-business-date-time-icon-symbol-hand-drawn-cartoon-art-illustration-vector.jpg">
</h1>

<fieldset id="add-medicine-form">
<form action="/appointments/<%= appointment._id %>?_method=PUT" method="POST" id="form">
             <label>Date: <input name="date" type="date" value=""/> <a id="msg"><%= msg %></a> </label>
             <br/>
             <label>Time slot:
              <select name="timeslot">
                <option value="09:00 am" <%= appointment.timeslot === "09:00 am" ? "selected" : "" %>>09:00 am</option>
                <option value="09:30 am" <%= appointment.timeslot === "09:30 am" ? "selected" : "" %>>09:30 am</option>
                <option value="10:00 am" <%= appointment.timeslot === "10:00 am" ? "selected" : "" %>>10:00 am</option>
                <option value="10:30 am" <%= appointment.timeslot === "10:30 am" ? "selected" : "" %>>10:30 am</option>
                <option value="11:00 am" <%= appointment.timeslot === "11:00 am" ? "selected" : "" %>>11:00 am</option>
                <option value="11:30 am" <%= appointment.timeslot === "11:30 am" ? "selected" : "" %>>11:30 am</option>  
                <option value="12:00 pm" <%= appointment.timeslot === "12:00 pm" ? "selected" : "" %>>12:00 pm</option>
              </select> </label>
             <br/>
      <br/>
      <input type="submit" value="Update Appointment">
    </form>
</fieldset>


<%- include("../partials/footer") %>