<%- include("../partials/header") %>

<h1>Appointment List 
    <img src="https://static.vecteezy.com/system/resources/previews/004/698/190/original/calendar-business-date-time-icon-symbol-hand-drawn-cartoon-art-illustration-vector.jpg"> </h1> 
    <% if (appointments.length) { %>
        <section class="appointmentlist">
<table id="badge-container" >
    <thead>
        <tr>
            <th>Institution</th>
            <th>Speciality</th>
            <th>Date</th>
            <th>Time slot</th>
        </tr>
    </thead>
    <tbody>
        <% appointments.forEach((a) => {%>
            <tr>
                <td><%= a.institution %></td>
                <td><%= a.speciality %></td>
                <td><%= a.date.toDateString() %></td>
                <td><%= a.timeslot %></td>
                <td ><a id="mainpage" href="/appointments/<%= a._id %>">Details</a></td>
                <td ><a id="mainpage" href="/appointments/<%= a._id %>/edit">Update Date/Timeslot</a></td>
            </tr>
            <% }) 
        } else { %>
            <h2 id="nomeds">No appointments</h2>
       <% } %>
    </tbody>
</table>
</section>

<%- include("../partials/footer") %>