<%- include("../partials/header") %>

<section class="appointmentlist">
<h1>Appointment List</h1>
<% if (appointments.length) { %>
<table id="badge-container" >
    <thead>
        <tr>
            <th>Institution</th>
            <th>Speciality</th>
            <th>Date</th>
            <th>Time slot</th>
        </tr>
    </thead>
    <tbody>
        <% appointments.forEach((a) => {%>
            <tr>
                <td><%= a.institution %></td>
                <td><%= a.speciality %></td>
                <td><%= a.date.toDateString() %></td>
                <td><%= a.timeslot %></td>
                <td id="mainpage"><a href="/appointments/<%= a._id %>">Details</a></td>
                <td id="mainpage"><a href="/appointments/<%= a._id %>/edit">Update Date/Timeslot</a></td>
            </tr>
            <% }) 
        } else { %>
            <h1 id="nomeds">No appointments</h1>
       <% } %>
    </tbody>
</table>
</section>

<%- include("../partials/footer") %>