<%- include("../partials/header") %>

<h1>Appointment Details</h1> 
<br/><br/>
<section id="badge-container"> 
    <div>Institution:</div>
    <div><%= appointment.institution %></div><br/>
    <div>Speciality:</div>
    <div><%= appointment.speciality %></div><br/>
    <div>Date:</div>
    <div><%= appointment.date.toDateString() %></div><br/>
    <div>Time Slot:</div>
    <div><%=appointment.timeslot  %></div>
    <br/>
    <div>Medicine:</div>
    <ul>
        <%- appointment.medicine.map(m =>
        `<li>${m.name}: ${m.regimen}</li>`
        ).join(" ")%>
    </ul>
    
    <form method="POST" action="/appointments/<%= appointment._id %>/medicines">
        <select name="medicineName">
            <%- medicines.map(m =>
            `<option value="${m._id}"> ${m.name} </option>`
            ) %>
        </select>
        <input type="submit" value="Add Med">
    </form>
</section>

<section id="badge-container"> 
    <form method="POST" action="/appointments/<%= appointment._id %>/visits">
    <label>Visit:</label>
    <br>
    <textarea name="content"></textarea>
    <br>
    <input type="submit" value="Add Visit">
    </form><br>
    <label>Visit Log:</label>
    <table id="visit">
        <tbody id="visit">
            <% appointment.visit.forEach((v) => { %>
                <tr id="visit">
                    <td id="visit"> <%= v.content %> </td>
                    <td id="visitdate"> <%= v.createdAt.toDateString() %> </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </section>
        
    <button>
        <a style="text-decoration:none" href="/appointments/<%=appointment._id%>/delete">
            Delete Appointment
        </a>
    </button>

<%- include("../partials/footer") %>