<%- include("../partials/header") %>

<h1 id="newappointment">Appointment Details 
    <img id="img" src="https://static.vecteezy.com/system/resources/previews/004/698/190/original/calendar-business-date-time-icon-symbol-hand-drawn-cartoon-art-illustration-vector.jpg"></h1> 

<section id="badge-container"> 
    <div><strong>Institution</strong>: <%= appointment.institution %></div>
    <br/>
    <div><strong>Speciality</strong>: <%= appointment.speciality %></div>
    <br/>
    <div><strong>Date</strong>: <%= appointment.date.toDateString() %></div>
    <br/>
    <div><strong>Time Slot</strong>: <%=appointment.timeslot  %></div>
    <br/>
    <br>
    <div>Medicine:</div>
    <ul>
        <%- appointment.medicine.map(m =>
        `<li>${m.name}: ${m.regimen}</li>`
        ).join(" ")%>
    </ul>
    
    <form method="POST" action="/appointments/<%= appointment._id %>/medicines">
        <select name="medicineName" id="font">
            <%- medicines.map(m =>
            `<option value="${m._id}" id="font"> ${m.name} </option>`
            ) %>
        </select>
        <input id="font" type="submit" value="Add Med">
    </form>
</section>

<section id="badge-container"> 
    <form method="POST" action="/appointments/<%= appointment._id %>/visits">
    <label>Visit:</label>
    <br>
    <textarea name="content" cols="45" rows="6"></textarea>
    <br>
    <input id="font" type="submit" value="Add Visit">
    </form><br>
    <label>Visit Log:</label>
    <% if (appointment.visit.length) { %>
    <table id="visit">
        <tbody id="visit">     
               <% const reverseArray = appointment.visit.reverse();
                 reverseArray.forEach((v) => { %>
                <tr id="visit">
                    <td id="visit"> <%= v.content %> </td>
                    <td id="visitdate"> <%= v.createdAt.toDateString() %> </td>
                </tr>
                <% }) 
            } else { %>
                <h5>No logs </h5>
           <% } %>

            </tbody>
        </table>

    </section>
        
    <button id="deleteappt">
        <a id="font" style="text-decoration:none" href="/appointments/<%=appointment._id%>/delete">
            Delete Appointment
        </a>
    </button>

<%- include("../partials/footer") %>