<%- include("../partials/header") %>

<h1>Delete Medicine
    <img id="img" src="https://img.freepik.com/premium-vector/medicine-jar-pills-strip-cartoon-icon-illustration-healthcare-medicine-icon-concept-isolated-premium-flat-cartoon-style_138676-1621.jpg?w=2000">
</h1> 
<br/><br/>
<section id="add-medicine-form"> 
    <div><strong>Name</strong>: <%= medicine.name %></div>
    <br/>
    <div><strong>Regimen</strong>: <%= medicine.regimen %></div>
    <br/>
    <div><strong>Speciality</strong>: <%= medicine.speciality  %></div>
    <br/>
    <h3>Delete Medicine? (Cannot be undone)</h3>
    <form method="POST" action="/medicines/<%= medicine._id %>?_method=DELETE" id="form">
        <input type="submit" value="Delete">
    </form>
    <button><a href="/medicines/new" style="text-decoration:none">Cancel</a></button>
</section>

<%- include("../partials/footer") %>