<%- include("../partials/header") %>

<h1>Delete Medicine</h1> 
<br/><br/>
<section id="add-medicine-form"> 
    <div>Name:</div>
    <div><%= medicine.name %></div><br/>
    <div>Regimen:</div>
    <div><%= medicine.regimen %></div><br/>
    <div>Speciality:</div>
    <div><%= medicine.speciality %></div><br/>
    <br/>
    
    <h3>Delete Medicine? (Cannot be undone)</h3>
    <form method="POST" action="/medicines/<%= medicine._id %>?_method=DELETE" id="form">
        <input type="submit" value="Delete">
    </form>
    <button><a href="/medicines/new" style="text-decoration:none">Cancel</a></button>
</section>

<%- include("../partials/footer") %>