<%- include("../partials/header") %>


<section class="medlist">
<h1 id="medlist">Medicine List 
    <img id="img" src="https://img.freepik.com/premium-vector/medicine-jar-pills-strip-cartoon-icon-illustration-healthcare-medicine-icon-concept-isolated-premium-flat-cartoon-style_138676-1621.jpg?w=2000">
</h1>
<% if (medicines.length) { %>
<table id="badge-container" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Regimen</th>
            <th>Speciality</th>
        </tr>
    </thead>
    <tbody>
        <% medicines.forEach((m) => {%>
            <tr>
                <td><%= m.name %></td>
                <td><%= m.regimen %></td>
                <td><%= m.speciality %></td>
                <td><a id="mainpage" href="/medicines/<%= m._id %>/edit" >Update</a></td>
                <td><a id="mainpage" href="/medicines/<%= m._id %>/delete">Delete</a></td>
            </tr>
            <% }) 
        } else { %>
            <h2 id="nomeds">No meds </h2>
       <% } %>
    </tbody>
</table>
</section>
<br><br><br><br><br><br><br><br><br><br>

<section class="medlist">
<h1 id="addmed">Add Medicine</h1>
<form id="add-medicine-form" action="/medicines" method="post">
    <fieldset>
        <label>Name: <input autocomplete="off" name="name" type="text"/> <a id="msg"><%= msg %></a></label>
        <br/>
        <label>Regimen: <input autocomplete="off" name="regimen" type="text"/></label>
        <br/>
        <label>Speciality:
            <select name="speciality">
              <option value="Cardiology">Cardiology</option>
              <option value="Endocrine">Endocrine</option>
              <option value="Gastroenterology">Gastroenterology</option>
              <option value="Infectious Disease">Infectious Disease</option>
              <option value="Neurology">Neurology</option>
              <option value="Pain Management">Pain Management</option>
              <option value="Nephrology">Nephrology</option>
            </select> </label>
      <br/>
      <input  type="submit" value="Add">
<br><br>
  </form>
</fieldset>
</section>

<%- include("../partials/footer") %>